/*
Description:  Style for what an ugly page
Author:       Zayra A. Garcia Lara
Author URI:   https://github.com/zayragarcia456
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
	background-color: mediumseagreen;
	padding: 20px;
}
ul {
	list-style-type: upper-roman;
	color: green;
	text-color: black;
}
a {
	color: black;
}
a:visited {
	color: slateblue;
}
a:hover {
	color: red;
}
a:active {
	color: red;
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
body {
	margin: 0;
}
main {
	width: calc(70%-1px);
	float: left;
	padding: 1rem;
	border-right: 1rem;
}
.advertisement {
	text-align: right;
}
aside {
	width: 30%;
}
/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
	clear: right;
	background-color: mediumseagreen;
	text-align: center;
}

/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
